@import "tailwindcss";

:root {
  --background: #f7f9fc;
  --foreground: #333333;
  --primary: #ff6b6b;
  --primary-hover: #ff5252;
  --secondary: #4ecdc4;
  --accent: #ffe66d;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-700: #495057;
  --neutral-900: #212529;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #eeeeee;
    --primary: #ff6b6b;
    --primary-hover: #ff5252;
    --secondary: #4ecdc4;
    --accent: #ffe66d;
    --neutral-100: #393e46;
    --neutral-200: #4a4e54;
    --neutral-300: #52575d;
    --neutral-700: #ced4da;
    --neutral-900: #f8f9fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
